# Mac OS files
._*
.DS_Store
.localized
.Spotlight-V100
Icon

# Linux files
*~

# Windows files
Desktop.ini
Thumbs.db

# Project files
*.esproj
*.sublime-project
*.sublime-workspace
.codekit-cache
.sass-cache
.tmproj
config.codekit

# VCS
.CVS
.hg
.hgignore
.git
.svn

# Packed files
*.7z
*.dmg
*.gem
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
